.modal {
  z-index: 100;
  overflow: s;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(255, 255, 255, 0.9);
  filter: blur(200px);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 400px;
}

@media screen and (max-width: 1024px) {
  .modal-content {
    padding: 30px 0px;
  }
}
