.side-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255,0.6);
  filter: blur(100px);
  height: 100vh;
  width: 100vw;
}

.side-contain{
  position: absolute;
  height: 100vh;
  background-color: white;
  top:0;
  right: 0;
  z-index: 100;
  transform: translateX(900px);
  transition: all 0.5s linear;
}

.side-contain-active{
  transform: translateX(0px);
}