.dish-card{
  height: 250px;
  width: 400px;
  background-color: rebeccapurple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}
.dish-card h1{
  font-size: 30px;
  font-weight: bold;
}
.dish-card h3,button{
  font-weight: bold;
}
@media screen and (min-width:1800px) {
  .dish-card{
      width: 500px;
      height: 300px;
  }
}
.dish-card:nth-child(4){
  background-color: #F5EAEA;
  background-color: var(--background-primary);
  color: #4D455D;
}
.dish-card:nth-child(2){
  background-color: #FFB84C;
  background-color: var(--background-secondary);
}
.dish-card:nth-child(1){
  background-color: var(--background-primary);
  color: #333;

}
.dish-card:nth-child(3){
  background-color: #A459D1;
  background-color: var(--background-secondary);
  
}
.dish-card button{
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
}
.dish-card:nth-child(1) button{
  background-color: var(--background-secondary);
}
.dish-card:nth-child(2) button{
  background-color: var(--background-primary);
  color: black;
}
.dish-card:nth-child(3) button{
  background-color: var(--background-primary);
  color: black;
}
.dish-card:nth-child(4) button{
  background-color: var(--background-secondary);
}
.dish-card button:hover{
  opacity: 0.9;
  transform: scale(1.02);
}
/* blog edit page css start  */
.blog-edit-container{
  padding: 50px;
}

.blog-edit-container img{
  height: 200px;
}
.blog-edit-container input{
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  border: 2px solid #e2e2e2;
}
.blog-edit-container button{
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #724b50;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}